[Unit]
Description=Used with systemd images to run stuff at startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tomcat_image_init.sh
TimeoutStartSec=25

[Install]
WantedBy=default.target