<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <style>

        body {
            font-family: arial,helvetica,clean,sans-serif;
            font-size: 12px;
            margin: 0;
        }

        html, body {
            margin: 0;
            padding: 0;
            border: 0;
        }

    </style>
    {% block head %}
    {% endblock %}
</head>

<body>

{% block content %}
{% endblock %}

</body>
</html>