[Unit]
Description=Used with systemd images to run stuff at startup
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/webserver_image_init.sh
TimeoutStartSec=20

[Install]
WantedBy=default.target