<span class="dijit dijitReset dijitInline" role="presentation"
        >

    <span style="cursor: pointer"
          data-dojo-attach-point="titleNode,focusNode"
          data-dojo-attach-event="onclick:_onClick"
          role="button"
            ><img src="${iconSrc}"></span>



    <!-- attach points are kept to maintain compatibility with parent dijit/Button -->
    <span style="display: block "
            ><span class="dijitReset dijitInline dijitIcon" data-dojo-attach-point="iconNode"></span
            ><span class="dijitReset dijitInline dijitButtonText"
                   id="${id}_label"
                   data-dojo-attach-point="containerNode"
            ></span
            ></span
            >

</span>
