<table style="margin: 0; padding: 0;" data-dojo-attach-point="containerTable">
    <tr>
        <td data-dojo-attach-point="fieldNode">

            <div data-dojo-attach-point="maindiv">

                <div data-dojo-attach-point="grid1div" role="presentation" style="width: 49%; height: 100%; float: left;">
                    <button class="switch" title="Move Items to First list" data-dojo-attach-event="onClick:moveToFirstList" style="float:right;  margin-top:5px;">&lt;</button>
                </div>

                <div data-dojo-attach-point="grid2div" role="presentation" style="width: 49%; height: 100%; float: right;">
                    <button class="switch" data-dojo-attach-point="buttonAdd" title="Move Items to Second list" data-dojo-attach-event="onClick:moveToSecondList" style="float:left; margin-top:5px;">&gt;</button>
                </div>

            </div>

        </td>
        <td data-dojo-attach-point="buttonsNode" valign="top" style="display:none; text-align: left; padding-left: 5px;">
        </td>
    </tr>
</table>